<% provide(:title, "ホーム") %>


<section class="main-image">
 <section class="image">
  <%= link_to image_tag("sake4.jpg", alt: "sake photo", class: "sake-image") %>
 </section>
</section>

<section class="main-content">
  <h2>SAKE BAGへようこそ！</h2>
  <p>
    お酒とのかけがえのない一期一会を記録しよう。自分だけのお酒の軌跡。
  </p>
  <div class="main-ul">
    <ul>
      <li class="main-li">
        <div class="list-flex">
          <div class="list-image">
            <%= link_to image_tag("like.png", alt: "like", class: "") %>
          </div>
          <div class="list-text">
            <h3>呑む！！</h3>
            <p>今日も楽しく乾杯</p>
          </div>
        </div>
      </li>
      <li class="main-li">
        <div class="list-flex">
          <div class="list-image">
            <%= link_to image_tag("photo.png", alt: "like", class: "") %>
          </div>
          <div class="list-text">
            <h3>撮る！！</h3>
            <p>思い出を撮影</p>
          </div>
        </div>
      </li>
      <li class="main-li">
        <div class="list-flex">
          <div class="list-image">
            <%= link_to image_tag("pencil.png", alt: "like", class: "") %>
          </div>
          <div class="list-text">
            <h3>メモる！！</h3>
            <p>お酒とのメモリー</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>


<section class="main-review">
  <h1>お酒レビュー</h1>
  <ul class="review-content">


    <li class="review-content-i main-li">
      <h4>アサヒスーパードライ</h4>
      <div class="review-image">
        <%= link_to image_tag("superdry.jpg", alt: "superdry", class: "sake-image-i") %>
      </div>
      <div class="review-nav list-flex">
        <div class="review-user-image">
          <%= link_to image_tag("tanjiro.jpg", alt: "user", class: "sake-image-i") %>
        </div>
        <div class="review-user-star">
          <p><a href="#">竈門炭治郎@水の呼吸</a></p>
          <div class="review-star">
            <%= link_to image_tag("star-on.png", alt: "1", class: "") %>
            <%= link_to image_tag("star-on.png", alt: "2", class: "") %>
            <%= link_to image_tag("star-on.png", alt: "3", class: "") %>
            <%= link_to image_tag("star-on.png", alt: "4", class: "") %>
            <%= link_to image_tag("star-on.png", alt: "5", class: "") %>
          </div>
        </div>
      </div>
      <div class="review-comment">
        <p>最高の一品。また飲みたいと思った今日このごろ</p>
      </div>
    </li>

   

  
   
    

  </ul>
  <div class="sake-log-more">
    <%= link_to("もっと見る", "#", class: "btn btn-lg btn-primary") %>
  </div>

</section>
