<% provide(:title, "ホーム") %>


<section class="main-image">
 <section class="image">
  <%= link_to image_tag("sake5.jpg", alt: "sake photo", class: "sake-image") %>
 </section>
</section>

<div class="main-content">

  <div class="container">
    <div class="main-h2-p">
      <h2>SAKE BAGへようこそ！</h2>
      <p>
        お酒とのかけがえのない一期一会を記録しよう。自分だけのお酒の軌跡。
      </p>
    </div>
    <div class="row" style="margin-left:15px; margin-right:15px;">
      <div class="col-md-4 col-sm-6  feature text-center" style="padding: 0;" >
        <div class="list-image">
          <i class="far fa-thumbs-up fa-3x"></i>
        </div>
          <h3>呑む！！</h3>
          <p>今日も楽しく乾杯</p>
      </div>

      <div class="col-md-4 col-sm-6  feature text-center" style="padding: 0;">
        <div class="list-image">
          <i class="fas fa-camera fa-3x"></i>
        </div>
          <h3>撮る！！</h3>
          <p>パシャリと撮る</p>
      </div>

      <div class="col-md-4 col-sm-6 feature text-center" style="padding: 0;">
        <div class="list-image">
          <i class="far fa-edit fa-3x"></i>
        </div>
          <h3>記録する！！</h3>
          <p>飲んだお酒の記録</p>
      </div>
    </div>
  </div>
</div>


<section class="main-review">
  <h1>お酒レビュー</h1>
  
  <ul class="review-content">
    <% @index_post_reviews.first(12).each do |post_review| %>
      <li class="review-content-i main-li">

      <% if post_review.sake.sake_name? %>
        <h4><%= link_to post_review.sake.sake_name,  sake_path(post_review.sake.id) %></h4>
      <% else %>
        <h4><br></h4>
      <% end %>

      <div class="review-image">
        <% if post_review.sake_image_name? %>
          <%= link_to image_tag(post_review.sake_image_name.url, alt: "sake-image", class: "sake-image-i"), post_review %>
        <% else %>
          <%= link_to image_tag("noimage.jpg", alt: "sake-image", class: "sake-image-i"), post_review %>
        <% end %>
      </div>

      <div class="review-nav list-flex">

        <div class="review-user-image">
            <% if post_review.user.image_name? %>
              <%= link_to image_tag(post_review.user.image_name.url, alt: "user-image", class: "sake-image-i"), post_review.user %>
            <% else %>
              <%= link_to image_tag("default.png", alt: "user-image", class: "sake-image-i"), post_review.user %>
            <% end %>
        </div>

        <div class="review-user-star">
          <p class="review-user-star-name"><%= link_to post_review.user.name, post_review.user %></p>
          <% if post_review.sake_rate == nil %>
            <%= image_tag("star-off.png", alt: "star-off", class: "") %>
            <%= image_tag("star-off.png", alt: "star-off", class: "") %>
            <%= image_tag("star-off.png", alt: "star-off", class: "") %>
            <%= image_tag("star-off.png", alt: "star-off", class: "") %>
            <%= image_tag("star-off.png", alt: "star-off", class: "") %>
          <% else %>
            <div class="review-star" id="star<%= post_review.id%>"></div>
            <script>
            $('#star<%= post_review.id %>').empty(); 
            $('#star<%= post_review.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly  : true,
              score     : <%= post_review.sake_rate %>
            });
            </script>
          <% end %>
        </div>

      </div>

      <div class="review-comment">
        <p><%= link_to post_review.content, post_review %></p>
      </div>

    </li>
    <% end %>
  </ul>

  <div class="sake-log-more">
    <%= link_to("もっと見る", post_reviews_path, class: "btn btn-lg btn-primary") %>
  </div>

</section>
