<% provide(:title, 'ログイン') %>

<div class="main">
  <div class="container">
    <div class="center">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <h2 class="new-h2">SAKE BAGにログイン</h2>

          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :パスワード %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>ログイン状態を保存する</span>
          <% end %>

          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
        <p class="new-signup">新規会員登録は <%= link_to "こちらへ！", signup_path %></p>
    </div>
  </div>
</div>
