<% sake_rate_count = (@sake.post_reviews.count).to_f %>
<% sake_rate_sum = @sake.post_reviews.pluck(:sake_rate).compact.sum %>
<% sake_rate_avg = sake_rate_sum / sake_rate_count %>

<% provide(:title, "お酒詳細") %>

<div class="review-show center">
  <h3><%= @sake.sake_name %></h3>

  <div class="review-show-content">
    <p>種　　類：<%= @sake.sake_type %></p>
    <p>メーカー：<%= @sake.sake_maker %></p>
    <p>レビュー数：<%= link_to sake_rate_count.round(0) %></p>
    <p>平均評価：<%= sake_rate_avg.round(1) %></p>
  </div>

<h3>レビュー</h3>

</div>

