<% provide(:title, "マイページ") %>

 <%= render 'follow_form' if logged_in? %>
<div class="main-show">
  <div class="container">
    <section class="user-profile">
      <div class="user-profile-body"> 
        <div class="user-profile-backimage">
           <% if @user.cover_image_name? %>
                <%= image_tag @user.cover_image_name.url, alt: "user-image", class: "sake-image" %>
            <% else %>
              <%= image_tag("cover_default.jpg", alt: "user-image", class: "sake-image") %>
            <% end %>
        </div>
        <div class="user-profile-image"> 
        
          <% if @user.image_name? %>
              <%= image_tag @user.image_name.url, alt: "user-image", class: "sake-image" %>
          <% else %>
            <%= image_tag("default.png", alt: "user-image", class: "sake-image") %>
          <% end %>
          
        </div>
        <div>
          <div class="user-profile-info">
            <h2 class="user-profile-name"><%= @user.name %></h2>
          </div>
      </div>
      <nav class="user-tab">
       <ul>
        <li class="main-li">
          <%= link_to("レビュー", "#" )%>
           <span><%= @user.post_reviews.count %></span>
        </li>
        <li class="main-li">
          <%= link_to("ブランド", "#" )%>
          <span>1</span>
        </li>
        <li class="main-li">
          <a href="<%= following_user_path(@user) %>">
            フォロー中
            <strong id="following" class="stat">
              <%= @user.following.count %>
            </strong>
          </a>
        </li>
        <li class="main-li">
          <a href="<%= followers_user_path(@user) %>">
            フォロワー
            <strong id="followers" class="stat">
              <%= @user.followers.count %>
            </strong>
          </a>
        </li>
        <li class="main-li">
          <%= link_to("レビューを投稿する", post_review_form_path )%>
        </li>

       </ul>
      </nav>
      </div>
    </section>
  </div>

    <% if @user.post_reviews.any? %>
      <h3>お酒のレビュー (<%= @user.post_reviews.count %>)</h3>
      <ul class="review-content">
        <%= render @post_reviews  %>
      </ul>
      <%= will_paginate @post_reviews,  previous_label: '&lt 前へ', next_label: '次へ &gt'%>
    <% end %>

  <p class="sake-log-more">
    <%= link_to("もっと見る", "#", class: "btn btn-lg btn-primary") %>
  </p>
</div>



