<% provide(:title, "マイページ") %>

 <%= render 'follow_form' if logged_in? %>
<div class="main-show">

    <section class="user-profile">
      <div class="user-profile-body"> 
        <div class="cover-profile-image">
           <% if @user.cover_image_name? %>
                <%= image_tag @user.cover_image_name.url, alt: "cover-image", class: "cover-image" %>
            <% else %>
              <%= image_tag("cover_default.jpg", alt: "cover-image", class: "cover-image") %>
            <% end %>
        </div>

        <div class="user-profile-image"> 
        
          <% if @user.image_name? %>
              <%= image_tag @user.image_name.url, alt: "user-image", class: "user-image" %>
          <% else %>
            <%= image_tag("default.png", alt: "user-image", class: "user-image") %>
          <% end %>
          
        </div>
        <div>
          <div class="user-profile-info">
            <h2 class="user-profile-name"><%= @user.name %></h2>
          </div>
      </div>

      <script>  
        $(function(){
          $('.title').click(function(){
            $(this).next().slideToggle();
          });
        });

        $(window).on('resize', function() {
          if( 'none' == $('.title').css('pointer-events') ){
            $('.toggle').attr('style','');
          };
        });
      </script>
      
      <% if @user.comment %>
         <div class="user-comment"><%= safe_join(@user.comment.split("\n"),tag(:br)) %></div>
      <% else %>
      <% end %>

      <p class="title">メニュー▼</p>
      <ul  class="user-tab row toggle" style="margin:0;">
            <div class="user-tab-nav">
              <a href="#">
              レビュー
              <strong><%= @user.post_reviews.count %></strong>
              </a>
            </div>
            <div class="user-tab-nav ">
              <a href="#">
              レビュー
              <strong>1</strong>
              </a>
            </div>
            <div class="user-tab-nav ">
              <a href="<%= following_user_path(@user) %>">
                フォロー中
                <strong id="following" class="stat">
                  <%= @user.following.count %>
                </strong>
              </a>
            </div>
            <div class="user-tab-nav ">
              <a href="<%= followers_user_path(@user) %>">
                フォロワー
                <strong id="followers" class="stat">
                  <%= @user.followers.count %>
                </strong>
              </a>
            </div>
            <div class="user-tab-nav " style="border-right: 1px solid #ddd;">
              <%= link_to("レビューを投稿する", post_review_form_path )%>
            </div>

      </ul>
      </div>
    </section>


    <% if @user.post_reviews.any? %>
      <h3>お酒のレビュー (<%= @user.post_reviews.count %>)</h3>
      <ul class="review-content">
        <%= render @post_reviews  %>
      </ul>
      <%= will_paginate @post_reviews,  previous_label: '&lt 前へ', next_label: '次へ &gt'%>
    <% end %>

  <p class="sake-log-more">
    <%= link_to("もっと見る", "#", class: "btn btn-lg btn-primary") %>
  </p>
</div>



