    <li class="review-content-i main-li">

    <% if post_review.sake_name? %>
      <h4><%= post_review.sake_name %></h4>
    <% else %>
      <h4><br></h4>
    <% end %>

      <div class="review-image">
        <% if post_review.sake_image_name? %>
          <%= image_tag post_review.sake_image_name.url, alt: "sake-image", class: "sake-image-i" %>
        <% else %>
          <%= image_tag("noimage.jpg", alt: "sake-image", class: "sake-image-i") %>
        <% end %>
      </div>

      <div class="review-nav list-flex">

        <div class="review-user-image">
            <% if @user.image_name? %>
              <%= image_tag post_review.user.image_name.url, alt: "user-image", class: "sake-image-i" %>
            <% else %>
              <%= image_tag("default.png", alt: "user-image", class: "sake-image-i") %>
            <% end %>
        </div>

        <div class="review-user-star">
          <p><%= post_review.sake_rate %>点</p>
          <div class="review-star" id="star<%= post_review.id%>"></div>
          <script>
          $('#star<%= post_review.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score     : <%= post_review.sake_rate %>
          });
          </script>
        </div>

      </div>

      <div class="review-comment">
        <p><%= post_review.content %></p>
      </div>

    </li>



