<header>
  <div class="navbar navbar-inverse">
    <div class="container">
      <%= link_to "SAKE BAG", root_path, id: "logo"%>
      <nav>
        <ul id="navbar" class="nav navbar-nav navbar-right ">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "SAKE BAGとは", about_path %></li>
          <li><%= link_to "ログイン", '#'%></li>
          <li><%= link_to "会員登録", signup_path %></li>
        </ul> 
      </nav>
    </div>
  </div>
</header>